.uploader{
    width:100%;
    height:100%;
    padding: 0;
}
  
  .Page {
    background-color: #042441;
    width: 100%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Drop-file-text {
    color: white;
    position: relative;
    bottom: 8vh;
    font-size: 25px;
  }
  
  
.box{
  width: 10vw;
  height: 10vw;
  border: thin transparent solid;
  position: relative;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box svg{
  position: absolute;
  width:100%;
  height:100%;
}

.line{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.line-holder{
  position: relative;
  width: 55%;
  height: 55%;
  display: inline-block;

}

.line2{
  height: fit-content;
  width: 100%;
  position: absolute;
  border-bottom:0.3rem white solid;
  top: 50%;
  transform: translateY(-50%);
}

.line1{
  width:fit-content;
  border-right:0.3rem white solid;
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);

}

circle {
  fill: transparent;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 2000;
  animation: rotate 5s linear infinite;
}
  
  .Or-text {
    color: white;
    position: relative;
    top: 9vh;
    font-size: 17px;
  }
  
  .Upload-button {
    box-sizing: border-box;
    background-color: #042441;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 12vh;
    width: 20vh;
    height: 5vh;
    border-radius: 8% / 30%;
    border-color: #81A6C7;
    border-style: solid;
    border-width: 2px;
    color: white;
  }
  
  #uploader {
    opacity: 0;
    z-index: -1;
    position: absolute;
  }
  
.cropper-container{
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%,-50%);
  background-color: none;
  position: absolute;
  transform-origin: 0% 0%;
  margin-top: 4vh;
  overflow: hidden;
}

.white-background{
  background-color: white;
  color: black;
  border-radius: 100%;
  width: 500vh;
  transform: scale(0) translate(-50%,-50%);
  height: 500vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0 ;
  z-index: 10000;
}

.content-area{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100001;
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}